.menu-position-link-container,
.menu-position-link-container:hover,
.menu-position-link-container:focus {
  color: rgba(0, 0, 0, 0.7);
  outline: none;
  text-decoration: none;
}

.price-badge {
  position: absolute;
  top: 5%;
  right: -8%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.price-badge {
  background-color: #ffda1a;
  font-size: 21px;
  border-radius: 2px 9px 9px 2px;
  z-index: 200;
}

.position-title {
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  min-height: 70px;
}
