.container-menu {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-top-left-radius: 30px;
}

.welcome-title {
  padding-top: 0 !important;
  font-size: 24px;
  color: #0051ba;
  font-weight: 500;
}

.reset-category {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  cursor: pointer;
}
