.searchbar-container {
  height: 100px;
  border: none;
  border-radius: 20px;
}

.searchbar {
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-icon {
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.6);
}

.searchbar-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.searchbar-input:focus {
  outline: none;
}

.searchbar-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
