.addition-popup-container {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.addition-card {
  width: 360px;
  height: 550px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

.addition-header-container {
  border-radius: 15px 15px 0 0;
}

.addition-header-container > h1 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.addition-position-card {
  height: 60%;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.addition-position-card-image {
  border-radius: 18px 18px 0 0;
}

.addition-position-card-description > h2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 20px;
}

.addition-position-card-description .size {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.addition-position-card-description .price {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
}

.addition-select-btn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  background-color: #0051ba;
}
.addition-back-btn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-pagination {
  top: -5px !important;
}
