@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

@font-face {
  font-family: "Noto IKEA Latin";
  src: url("./fonts/NotoIKEALatin-Bold.ttf");
  src: url("./fonts/NotoIKEALatin-Regular.ttf");
}

* {
  font-family: "Noto IKEA Latin";
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  white-space: pre-line;
}

.container-main {
  background-color: #ffda1a;
  height: 100vh;
  width: 100vw;
}

.fadeNoExit-enter {
  opacity: 0;
}
.fadeNoExit-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
}
.fadeNoExit-exit {
  opacity: 0;
}
.fadeNoExit-exit-active {
  opacity: 0;
  transition: all 150ms ease-in;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
}

.fadeRight-enter {
  transform: translateX(100px);
  opacity: 0;
}
.fadeRight-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease-in;
}
.fadeRight-exit {
  transform: translateX(0);
  opacity: 1;
}
.fadeRight-exit-active {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 400ms ease-in;
}

.fadeNav-enter {
  opacity: 0;
}
.fadeNav-enter-active {
  opacity: 1;
  transition: all 150ms ease-in;
}
.fadeNav-exit {
  opacity: 1;
}
.fadeNav-exit-active {
  opacity: 0;
  transition: all 150ms ease-in;
}

.square {
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
